In [136]:
import numpy as np
import pandas as pd

In [137]:
city = input('Enter file name: ')
df_main = pd.read_excel(f'C:/Users/m.khodadadi/Documents/GitHub/divar_data_mapping/data/{city}.xlsx')
city_id = int(input(f'Enter {city} id: '))
# شهرکرد : 607

In [138]:
df = df_main

In [139]:
def fa_to_en(text):
    new_text = ''
    for c in text:
        chr_code = ord(c)
        new_text += chr(chr_code - 1728) if (chr_code >= 1776 and chr_code <= 1785) else c
    return new_text

In [140]:
df

,Age,Elevator,Floor,Loan,Meter,Parking,Price,RentalPrice,Rooms,Title,WareHouse,category,count,description,name,phone,time_region,type,url
0,0,1,3,0,125,1,1000000,NaN,3,آپارتمان فول هوشمند شیک خ یاسر گودال چشمه,1,فروش مسکونی,4,با سلام \n⚜️املاک کاریزما ⚜️\n✔️فروش واحد های ...,آژانس کاریزما,۰۹۱۳۶۷۶۳۱۳۵,۱ هفته پیش در شهرکرد,فروش آپارتمان,https://divar.ir/v/-/AakxDGsH

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1 non-null      int64
 1   Elevator     1 non-null      int64
 2   Floor        1 non-null      int64
 3   Loan         1 non-null      int64
 4   Meter        1 non-null      int64
 5   Parking      1 non-null      int64
 6   Price        1 non-null      int64
 7   RentalPrice  0 non-null      float64
 8   Rooms        1 non-null      int64
 9   Title        1 non-null      object
 10  WareHouse    1 non-null      int64
 11  category     1 non-null      object
 12  count        1 non-null      int64
 13  description  1 non-null      object
 14  name         1 non-null      object
 15  phone        1 non-null      object
 16  time_region  1 non-null      object
 17  type         1 non-null      object
 18  url          1 non-null      object
dtypes: float64(1), int64(10), object(8)
memory usage: 284.0+ bytes

In [142]:
df = df.dropna(subset=['Rooms'])
df = df.dropna(subset=['Parking'])
df = df.fillna(value=0)
df = df.drop(columns=['count'])
df['category'].unique()

array(['فروش مسکونی'], dtype=object)

In [143]:
df = df.rename(columns={'description': 'Description'})
df = df.rename(columns={'category': 'DepositCategoryId'})
df = df.rename(columns={'type': 'PropertyTypeId'})
df = df.rename(columns={'time_region': 'CreatedTime'})
df = df.rename(columns={'url': 'CoverId'})

In [144]:
def fix_floor(x):
    if type(x['Floor']) != int and type(x['Floor']) != float:
        if 'همکف' in x['Floor']:
            x['Floor'] = 'همکف'
        if 'از' in x['Floor']:
            x['Floor'] = x['Floor'].split('از')[0]
    return x
    
df = df.apply(fix_floor, axis=1)

floor_mapping = {
    "زیرهمکف": 1129,
    "همکف": 1130,
    1: 1131,
    2: 1132,
    3: 1133,
    4: 1134,
    5: 1135,
    6: 1136,
    7: 1137,
    8: 1138,
    9: 1139,
    10: 1140,
    11: 1141,
    12: 1142,
    13: 1143,
    14: 1144,
    15: 1145,
    16: 1146,
    17: 1147,
    18: 1148,
    19: 1149,
    20: 1150,
    "بالا تر از 20": 1151
}

df['Floor'] = df['Floor'].map(floor_mapping)

In [145]:
elevator_mapping = {
    0: 1091,
    1: 1090
}
df['Elevator'] = df['Elevator'].map(elevator_mapping)

In [146]:
df['Age'] = 1404 - df['Age']

age_mapping = {
    1404: 2214,
    1403: 1098,
    1402: 1099,
    1401: 1100,
    1400: 1101,
    1399: 1102,
    1398: 1103,
    1397: 1104,
    1396: 1105,
    1395: 1106,
    1394: 1107,
    1393: 2224,
    1392: 1108,
    1391: 1109,
    1390: 1110,
    1389: 1111,
    1388: 1112,
    1387: 1113,
    1386: 1114,
    1385: 1115,
    1384: 1116,
    1383: 1117,
    1382: 1118,
    1381: 1119,
    1380: 1120,
    1379: 1121,
    1378: 2234,
    1377: 4883,
    1376: 1122,
    1375: 1123,
    1374: 1124,
    1373: 4884,
    1372: 1126,
    'بیش از 30 سال': 1128
}
df['Age'] = df['Age'].map(age_mapping)

In [147]:
loan_mapping = {
    0: 1097,
    1: 1096
}
df['Loan'] = df['Loan'].map(loan_mapping)

In [148]:
parking_mapping = {
    0: 1095,
    1: 1094
}
df['Parking'] = df['Parking'].map(parking_mapping)

In [149]:
rooms_mapping = {
    'بدون اتاق': 1152,
    1: 1153,
    2: 1154,
    3: 1155,
    4: 1156,
    5: 1157
}
df['Rooms'] = df['Rooms'].map(rooms_mapping)

In [150]:
warehouse_mapping = {
    0: 1093,
    1: 1092
}
df['WareHouse'] = df['WareHouse'].map(warehouse_mapping)

In [151]:
category_mapping = {
 'فروش مسکونی': 6,
 'اجارهٔ مسکونی': 7
}
df['DepositCategoryId'] = df['DepositCategoryId'].map(category_mapping)

In [152]:
df['PropertyTypeId'] = 1257

# ⬇️Check this out!!!!⬇️

In [153]:
problem = False
for col in ['Age', 'Elevator', 'Floor', 'Loan', 'Parking', 'Rooms', 'WareHouse', 'DepositCategoryId', 'PropertyTypeId']:
    print(f"Unique values of {col}: {df[col].unique()}\n")
    for t in df[col].unique():
        if np.isnan(t):
            problem = True
            break
            
if problem:
    raise Exception("Something went wrong")

Unique values of Age: [2214]

Unique values of Elevator: [1090]

Unique values of Floor: [1133]

Unique values of Loan: [1097]

Unique values of Parking: [1094]

Unique values of Rooms: [1155]

Unique values of WareHouse: [1092]

Unique values of DepositCategoryId: [6]

Unique values of PropertyTypeId: [1257]

In [154]:
from datetime import datetime, timedelta

def date_and_street_extractor(x):
    date = x['CreatedTime']
    if date.split()[1] == 'روز':
        days_ago = int(fa_to_en(date.split()[0]))
    elif date.split()[1] == 'ماه':
        days_ago = int(fa_to_en(date.split()[0])) * 30
    elif date.split()[1] == 'هفته':
        days_ago = int(fa_to_en(date.split()[0])) * 7
    else:
        days_ago = 0
    x['CreatedTime'] = datetime.now() - timedelta(days=days_ago)
    if '،' in date:
        x['MainStreet'] = date.split('، ')[1]
    else:
        x['MainStreet'] = ' '
    return x

df = df.apply(date_and_street_extractor, axis=1)

In [155]:
def fix_cover_id(x):
    x = x[-8:]
    return x

df['CoverId'] = df['CoverId'].apply(fix_cover_id)

In [156]:
df['ModifiedDate'] = df['CreatedTime']
df['Disabled'] = 0
df['ModifiedBy'] = None
df['id'] = df.index + 90001
df['OldId'] = None
df['StatusId'] = 1247
df['CityId'] = city_id
df['RegionId'] = None
df['IsDeleted'] = 0
df['phone'] = df['phone'].map(fa_to_en)
df['phone'] = df['phone'].astype('string')
df['UserId'] = df['phone']
df['Coordinates'] = None
df['CreatedBy'] = df['phone']
df['Code'] = df['id']

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                1 non-null      int64
 1   Elevator           1 non-null      int64
 2   Floor              1 non-null      int64
 3   Loan               1 non-null      int64
 4   Meter              1 non-null      int64
 5   Parking            1 non-null      int64
 6   Price              1 non-null      int64
 7   RentalPrice        1 non-null      float64
 8   Rooms              1 non-null      int64
 9   Title              1 non-null      object
 10  WareHouse          1 non-null      int64
 11  DepositCategoryId  1 non-null      int64
 12  Description        1 non-null      object
 13  name               1 non-null      object
 14  phone              1 non-null      string
 15  CreatedTime        1 non-null      datetime64[ns]
 16  PropertyTypeId     1 non-null      int64
 17  CoverId            1 non-null      object
 18  MainStreet         1 non-null      object
 19  ModifiedDate       1 non-null      datetime64[ns]
 20  Disabled           1 non-null      int64
 21  ModifiedBy         0 non-null      object
 22  id                 1 non-null      int64
 23  OldId              0 non-null      object
 24  StatusId           1 non-null      int64
 25  CityId             1 non-null      int64
 26  RegionId           0 non-null      object
 27  IsDeleted          1 non-null      int64
 28  UserId             1 non-null      string
 29  Coordinates        0 non-null      object
 30  CreatedBy          1 non-null      string
 31  Code               1 non-null      int64
dtypes: datetime64[ns](2), float64(1), int64(17), object(9), string(3)
memory usage: 388.0+ bytes

In [158]:
new_order = ['id', 'Title', 'Description', 'DepositCategoryId', 'PropertyTypeId', 'OldId', 'StatusId', 'UserId', 'CityId', 'CoverId', 'RegionId', 'Coordinates', 'CreatedTime', 'ModifiedDate', 'CreatedBy', 'ModifiedBy', 'Disabled', 'IsDeleted', 'MainStreet', 'Price', 'RentalPrice', 'Code']
df_new = df[new_order]

In [159]:
df_new

,id,Title,Description,DepositCategoryId,PropertyTypeId,OldId,StatusId,UserId,CityId,CoverId,...,CreatedTime,ModifiedDate,CreatedBy,ModifiedBy,Disabled,IsDeleted,MainStreet,Price,RentalPrice,Code
0,90001,آپارتمان فول هوشمند شیک خ یاسر گودال چشمه,با سلام \n⚜️املاک کاریزما ⚜️\n✔️فروش واحد های ...,6,1257,None,1247,09136763135,607,AakxDGsH,...,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,09136763135,None,0,0,,1000000,0.0,90001

In [160]:
df_custom_field = pd.DataFrame(columns=[
    'CustomFieldId',
    'CustomFieldOptionId',
    'DepositId',
    'Value',
    'CreatedTime',
    'ModifiedDate',
    'CreatedBy',
    'ModifiedBy',
    'Disabled',
    'IsDeleted',
    'CityId'
])

custom_fields = {
    1117: 'Meter',
    1118: 'Floor',
    1119: 'Rooms',
    1120: 'Age',
    1121: 'Parking',
    1122: 'WareHouse',
    1123: 'Elevator',
    1124: 'Loan'
}

new_rows = []
for index, row in df.iterrows():
    for c in [1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124]:
        if c!=1117:
            CustomFieldOptionId = row[custom_fields[c]]
            Value = None
        else:
            CustomFieldOptionId = None
            Value = row['Meter']
            
        new_rows.append({
            'CustomFieldId': c,
            'CustomFieldOptionId': CustomFieldOptionId,
            'DepositId': row['id'],
            'Value': Value,
            'CreatedTime': row['CreatedTime'],
            'ModifiedDate': row['ModifiedDate'],
            'CreatedBy': None,
            'ModifiedBy': None,
            'Disabled': 0,
            'IsDeleted': 0,
            'CityId': None
        })

df_custom_field = pd.concat([df_custom_field, pd.DataFrame(new_rows)], ignore_index=True)

C:\Users\m.khodadadi\AppData\Local\Temp\ipykernel_4180\557399453.py:50: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_custom_field = pd.concat([df_custom_field, pd.DataFrame(new_rows)], ignore_index=True)

In [161]:
df_custom_field['CustomFieldId'] = df_custom_field['CustomFieldId'].astype('int')
# df_custom_field['CustomFieldOptionId'] = df_custom_field['CustomFieldOptionId'].astype('int')
df_custom_field['DepositId'] = df_custom_field['DepositId'].astype('int')
df_custom_field['Disabled'] = df_custom_field['Disabled'].astype('int')
df_custom_field['IsDeleted'] = df_custom_field['IsDeleted'].astype('int')

In [162]:
df_custom_field

,CustomFieldId,CustomFieldOptionId,DepositId,Value,CreatedTime,ModifiedDate,CreatedBy,ModifiedBy,Disabled,IsDeleted,CityId
0,1117,NaN,90001,125.0,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,None,None,0,0,None
1,1118,1133.0,90001,NaN,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,None,None,0,0,None
2,1119,1155.0,90001,NaN,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,None,None,0,0,None
3,1120,2214.0,90001,NaN,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,None,None,0,0,None
4,1121,1094.0,90001,NaN,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,None,None,0,0,None
5,1122,1092.0,90001,NaN,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,None,None,0,0,None
6,1123,1090.0,90001,NaN,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,None,None,0,0,None
7,1124,1097.0,90001,NaN,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,None,None,0,0,None

In [163]:
df_new

,id,Title,Description,DepositCategoryId,PropertyTypeId,OldId,StatusId,UserId,CityId,CoverId,...,CreatedTime,ModifiedDate,CreatedBy,ModifiedBy,Disabled,IsDeleted,MainStreet,Price,RentalPrice,Code
0,90001,آپارتمان فول هوشمند شیک خ یاسر گودال چشمه,با سلام \n⚜️املاک کاریزما ⚜️\n✔️فروش واحد های ...,6,1257,None,1247,09136763135,607,AakxDGsH,...,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,09136763135,None,0,0,,1000000,0.0,90001

In [164]:
df_new.to_csv(f'{city}_Deposits.csv', index=False)
df_custom_field.to_csv(f'{city}_CustomFieldValues.csv', index=False)

# Upload files:

In [165]:
# city = input('Enter file name: ')
# df_new = pd.read_csv(f'{city}_Deposits.csv')

In [166]:
df_new

,id,Title,Description,DepositCategoryId,PropertyTypeId,OldId,StatusId,UserId,CityId,CoverId,...,CreatedTime,ModifiedDate,CreatedBy,ModifiedBy,Disabled,IsDeleted,MainStreet,Price,RentalPrice,Code
0,90001,آپارتمان فول هوشمند شیک خ یاسر گودال چشمه,با سلام \n⚜️املاک کاریزما ⚜️\n✔️فروش واحد های ...,6,1257,None,1247,09136763135,607,AakxDGsH,...,2025-07-14 13:58:37.567722,2025-07-14 13:58:37.567722,09136763135,None,0,0,,1000000,0.0,90001

In [167]:
import requests
from pathlib import Path


def upload_files():

    url = "https://apicloud.delta.ir/api/v1/"
    
    token_type = 'Bearer'
    token_user = Path('api_token.txt').read_text()
    
    
    header = {
        "accept": "*/*",
        "Authorization": token_type + " " + token_user
              } 
    
    
    batch_size = 5
    
    for i in range(0,len(df_new), batch_size):
        print("Index= ",i, end='')
        hrefs = df_new[i:i+batch_size]['CoverId'].tolist()
        
        base_path = "C:/Users/m.khodadadi/Documents/GitHub/divar_data_mapping/data/images/"
        # base_path = "data/images/"
        
        files = []
        for name in hrefs:
            try:
                file_path = f"{base_path}{name}.jpg"
                files.append(("file", (f"{name}.jpg", open(file_path, "rb"), "image/jpeg")))
            except:
                hrefs.remove(name)
    
        response = requests.post(url=url + "files", headers=header, files=files)
        
        if response.status_code == 200:
            data = response.json()
            
            data_dict = dict(zip(hrefs,data['data']))
            # df_new['CoverId'] = df_new['CoverId'].map(lambda x: data_dict.get(x, x))
            df_new.loc[:, 'CoverId'] = df_new['CoverId'].map(lambda x: data_dict.get(x, x))
            print(f"\threfs= {hrefs}\tData= {data['data']}")        
    
        else:
            print('\t',response)